# Database Settings (Supabase)
DATABASE_URL=postgresql://postgres:password@db.supabase.co:5432/postgres

# Security
JWT_SECRET_KEY=your-jwt-secret-key-here
API_V1_STR=/api/v1

# AI / Groq
GROQ_API_KEY=your-groq-api-key-here

# Vector Database (Pinecone)
PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_INDEX=medimid-ai-index
PINECONE_NAMESPACE=medical-knowledge
PINECONE_REGION=us-east-1

# Hugging Face Embeddings
HF_TOKEN=your-huggingface-token-here
EMBEDDING_MODEL=BAAI/bge-base-en-v1.5
